*{
    margin: 0; padding: 0; box-sizing: border-box;
}

/* NAV START */

body{
    height: 370vh;
    width: 100vw;
    border: 1px ;
}
.outercontainer1{
    height: 60px;
    width: 100vw;
    border: 1px solid;
    background-color: #192127;
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    position: fixed;
}



.child{
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px ;
    color: #edf6f9;
}

nav .child:hover{
    box-shadow: 1px 1px 1px 0px;
    border: 1px solid gold;
    cursor: pointer;
}


.icon .Amazon{
    color: #edf6f9;
    font-size: x-large;
}
.in{
    font-size: large;
    color:#edf6f9 ;
}
.outercontainer2{
    height: 50px;
    width: 100vw;
    border: 1px solid #2f373e;
    background-color: #2f373e;
    color: #edf6f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 60px;

}

nav .child2{
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px ;
}
nav .child2:hover{
    box-shadow: 1px 1px 1px 0px;
    border: 1px solid gold;
    cursor: pointer;
}

.icon{
    height: 50px;
    width: 150px;
}
.icon a{
    text-decoration: none;
}

.location{
    height: 50px;
    width: 260px;
}

.location img{
    height: 30px;
    width: 40px;
}

.search{
    height: 50px;
    width: 500px;
}
.large-input{
    height: 40px;
    width: 400px;
}
.search img{
    height: 40px;
    width: 80px;
    
}

.search label>img:hover{
    cursor: pointer;
}

.lang{
    height: 50px;
    width: 200px;
}

.lang img{
    height: 30px;
    width: 40px;
}

.signin{
    height: 50px;
    width: 100px;
}
.signin a{
    text-decoration: none;
    color:#edf6f9 ;
}
.orders{
    height: 50px;
    width: 187px;
}

.cart{
    height: 50px;
    width: 100px;

}

.cart img{
    height: 30px;
    width: 40px;
}

.all{
    height: 40px;
    width: 60px;
}

.fresh{
    height: 40px;
    width: 70px;
}

.mxplayer{
    height: 40px;
    width: 100px;
}

.books{
    height: 40px;
    width: 80px;
}

.computers{
    height: 40px;
    width: 100px;
}
.fashion{
    height: 40px;
    width: 80px;
}

.electronics{
    height: 40px;
    width: 100px;
}

.home{
    height: 40px;
    width: 140px;
}

.kids{
    height: 40px;
    width: 50px;
}

.gift{
    height: 40px;
    width: 80px;
}

.deals{
    height: 40px;
    width: 110px;
}

.mobiles{
    height: 40px;
    width: 80px;
}

.prime{
    height: 40px;
    width: 120px;
}

.services{
    height: 40px;
    width: 140px;
}
.new{
    height: 40px;
    width: 120px;
}

/* NAV END */

/* CONTENT START  */

.content{
    margin-top: 41px;
    margin-left: 8px;
    height: 95%;
    width: 1500px;
    border: 1px solid white;
    /* background-color: #fdb833; */
    background-image: linear-gradient(#fdb833,#d6d6d6);
    background-image: url("../assets/bg1.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 1498px 500px;
    
}



.outerapliances{
    margin-top: 300px;
    margin-left: 4px;
    height: 850px;
    width: 1490px;
    border: 1px ;
    background-image: linear-gradient(#a3b18a,#dce1de);
    display: grid;
    grid-template-columns:350px 350px 350px 350px ;
    grid-template-rows: 400px 400px 400px 400px 400px;
    gap: 30px;

}

.apliances{
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient( #fff6cc, #ffffff);
    border: 1px ;
    border-radius: 5px;
     display: grid;
     grid-template-columns: 157px 157px;
     grid-template-rows: 160px 160px;
}

.homestyle{
    margin-top: 30px;
    margin-left: 10px;
    border: 1px ;
}
.homestyle:hover{
    cursor: pointer;
    
}
.apliances .text2{
    margin-top: 20px;
    height: 50px;
    width: 305px;
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apliances img{
    height: 128.1px;
    width: 145px;
}

.bike{
    margin-top: 30px;
    margin-left: 4px;
    width: 1490px;
    height: 300px;
    border: 1px ;
    background-color: #edf2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topbike{
  width: 1480px;
  height: 50px ;
  border: 1px ;
}

.topbike span{
    font-weight: bolde;
    font-size: x-large;
}

.bottombike{
    padding-left: 350px;
    width: 1480px;
    height: 240px ;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.bikes img{
    height:auto ;
    width:auto ;
    border: 1px ;
    cursor: pointer;
}

.bikes img:hover{
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px;
    border-color: gray;
}

.fashions{
    margin-top: 30px;
    margin-left: 4px;
    width: 1490px;
    height: 300px;
    border: 1px ;
    background-color: #edf2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ftop{
  width: 1480px;
  height: 50px ;
  border: 1px ;
}
.ftop span{
    margin-left: 5px;
    font-weight: bolde;
    font-size: x-large;
}

.fbottom{
    padding-left: 90px;
    width: 1480px;
    height: 240px ;
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}

.dress img{
    height:auto ;
    width:auto ;
    border: 1px ;
}

.dress img:hover{
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px;
    border-color: gray;
    cursor: pointer;
}

.collection{
     margin-top: 30px;
    margin-left: 4px;
    width: 1490px;
    height: 400px;
    border: 1px ;
    background-color: #edf2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ctop{
  width: 1480px;
  height: 50px ;
  border: 1px;
}

.cbottom{
    padding-left: 310px;
    width: 1480px;
    height: 380px ;
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}

.ctop span{
    margin-left: 5px;
    font-weight: bolde;
    font-size: x-large;
}

.c{
    height: 360px;
    width: 300px;
    border: 1px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c img{
    height:auto ;
    width:auto ;
    border: 1px ;
}

.c:hover{
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px;
    border-color: gray;
    cursor: pointer;
}

.c button{
    padding: 5px;
    border-radius: 5px;
    background-color: #e8c47b;
}

.c button:hover{
    box-shadow: 1px 0px 0px 1px;
    border-color: gold;
    cursor: pointer;
}

.recommend{
    margin-top: 30px;
    margin-left: 4px;
    width: 1490px;
    height: 300px;
    border: 1px ;
    background-color: #edf2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recommend p{
     font-size: xx-large;
     font-weight: bolder;
}

.recsign{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: #fdb833;
}

.recsign:hover{
    box-shadow: 1px 0px 0px 1px;
    border-color: gold;
    cursor: pointer;
}

.back{
    margin-top: 25px;
    margin-left: 20px;
    width: 1490px;
    height: 50px;
    border: 1px ;
    background-color: #242f38;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back a{
    font-size: x-large;
     font-weight: bolde;
     text-decoration: none;
     color: darkgray;
}

footer{
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: 5px;
    margin-left: 4px;
    width: 1490px;
    height: 200px;
    border: 1px ;
    background-color: #242f38;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.footer p{
    font-size: 17px;
    color: gray;
}
.condition {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

.privacy{
    text-decoration: underline;
    color: gray;
    cursor: pointer;
} 

.intrest{
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}



