*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefae0;
}
.outercontainer{
    padding-top: 23px;
    padding-left: 48px;
    height: 690px;
    width: 800px;
    border: 1px ;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 190px 450px;
    background-color: #edf2f4;

}

.innercontainer1{
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innercontainer1 img{
    height: 150px;
    width: 230px;
}

.innercontainer2{
    border: 1px ;
    display: flex;
    justify-content: center;
}

form>p{
    font-size: xx-large;
    font-weight: bolde;
}

.email{
    margin-top: 10px;
    padding-left: 15px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    
}
.password{
    margin-top: 30px;
    padding-left: 15px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
}

.login{
    margin-top: 20px;
    height: 35px;
    width: 300px;
    border-radius: 5px; 
    background-color:#ff8800 ;
}

.login:hover{
    box-shadow: 1px 0px 1px 1px;
    border-color: gold;
    cursor: pointer;
    border: none;
}

.login a{
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.signin{
    margin-top: 20px;
}

.detailes{
    color: darkblue;
    cursor: pointer;
}

.signup{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border-radius: 5px; 
    background-color:lightgrey;
}

.signup:hover{
    box-shadow: 1px 0px 1px 1px;
    border-color: gold;
    cursor: pointer;
    border: none;
}

.signup a{
    text-decoration: none;
    font-size: large;
    color: black;  
}

.forgot{
    color: darkblue;
    margin-left: 192px;
}

.forgot:hover{
    cursor: pointer;
}