*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    border: 1px;
    background-color: #fefae0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outercontainer{
    height: 600px;
    width: 1000px;
    border: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .innercontainer{
    border: 1px solid;
} */

.left{
    padding-top: 20px;
    padding-left: 45px;
    height: 590px;
    width: 55%;
    border: 1px ;
    background-color: #edf2f4;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 100px 450px;
}

.top{
    border: 1px;

}

.form{
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.right{
    height: 590px;
    width: 40%;
    border: 1px ;
    /* background-image: url("../assets/right.jpeg");
    background-repeat: no-repeat;
    background-position: 100px 100px; */
}

.right img{
    height: 588px;
    width: 371px;
}

.name{
    padding-left: 15px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}

.email{
    margin-top: 20px;
    padding-left: 15px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}

.password{
    margin-top: 20px;
    padding-left: 15px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}

.left p{
    margin-top: 20px;

}

.left p span{
    color: #ff8800;
    text-decoration: underline;
}

.left p span:hover{
    cursor: pointer;
}


.signup{
    margin-top: 50px;
    width: 300px;
    padding: 8px;
    background-color: #ff8800;
    border-radius: 5px;
    font-size: larger;
    border: none;
}

.signup:hover{
    box-shadow: 1px 0px 1px 1px;
    border-color: gold;
    cursor: pointer;
}

.signup a{
    text-decoration: none;
    color: black;
}

.top img{
    margin-left: 50px;
    margin-top: 0px;
    height: 94px;
    width: 170px;
}

.form .login a{
    text-decoration: none;
    color: #ff8800;
}


